################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/core3.1-mvc-monolith/obj
/.vs
/core3.1-mvc-monolith/.vs/core3.1-mvc-monolith/v16
/core3.1-mvc-monolith/Properties
/core3.1-mvc-monolith/bin/Debug/netcoreapp3.1
/core3.1-mvc-monolith/.vs/core3.1-mvc-monolith/DesignTimeBuild
/core3.1-mvc-monolith/core3.1-mvc-monolith.csproj.user
/core3.1-mvc-monolith/.vs/core3.1-mvc-monolith/config/applicationhost.config
